version: "3.8"

services:
    nginx:
        container_name: lr_nginx
        build:
            context: ./.manifest/nginx
        ports:
            - 12101:80
        volumes:
            - ./.manifest/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./:/app
        depends_on:
            - php
        networks:
            - shared-network

    php:
        container_name: lr_php
        build:
            context: ./.manifest/php
        ports:
            - 9000:9000
            - 5173:5173
        volumes:
            - .:/app
            - ./.manifest/php/php.ini:/usr/local/etc/php/php.ini
            - /node_modules
            #- ./storage:/app/storage
            #- ./bootstrap/cache:/app/bootstrap/cache
            - /vendor
        #tty: true
        depends_on:
            - db
            - redis
            - minio
        networks:
            - shared-network

    db:
        container_name: lr_db
        build:
            context: ./.manifest/db
        volumes:
            - ./.manifest/db/data:/var/lib/mysql
        ports:
            - "3306:3306"
        environment:
            DB_CONNECTION: mysql
            DB_DATABASE: lr_db
            DB_HOST: lr
            DB_USERNAME: root
            DB_PASSWORD: password
            DB_ROOT_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password
            TZ: Asia/Tokyo
        networks:
            - shared-network

    redis:
        container_name: lr_redis
        image: redis:6.0.5
        ports:
            - 19000:6379
        networks:
            - shared-network

    minio:
        container_name: lr_minio
        image: minio/minio
        ports:
            - "9999:9999"
            - "9001:9001"
        environment:
            MINIO_ACCESS_KEY: access_key
            MINIO_SECRET_KEY: secret_key
            MINIO_DEFAULT_BUCKETS: uploads
        command: "server /export --address :9999 --console-address :9001"
        networks:
            - shared-network

networks:
    shared-network:
        external: true
        driver: bridge

        # ER図作成したい時以外は一旦コメントアウトしておく
        # schemaspy:
        #   container_name: lr_schemaspy
        #   build:
        #     context: .docker/schemaspy
        #   volumes:
        #     - ./server/schemaspy/output:/output
        #   depends_on:
        #     - db
        #   environment:
        #     SCHEMASPY_OUTPUT: /output
